CONFIGURE
src/*.o
test/*.o
proof/.lia_cache
proof/*/*.vo
proof/*/*.vok
proof/*/*.vos
proof/*/*.glob
proof/*/.*.aux
proof/*/.*.cache
proof/.CoqMakefile.d
proof/CoqMakefile
proof/CoqMakefile.conf
docs/index_files/*/*
docs/index.html
docs/index.pdf
proof/html/CFEM.*
proof/html/coqdoc.css
proof/html/genindex.html
proof/html/toc.html
proof/*.glob
proof/*.vo
proof/*.vos
proof/*.vok
proof/.*.cache
proof/.*.aux
obj/*
exe/*

