CONFIGURE
src/*.o
test/*.o
proof/*.vo
proof/*.vok
proof/*.vos
proof/*.glob
proof/.*.aux
proof/.*.cache
proof/.CoqMakefile.d
proof/alloc.v
proof/assemble.v
proof/bandmat.v
proof/densemat.v
proof/element.v
proof/fem.v
proof/mesh.v
proof/quadrules.v
proof/shapes.v
proof/CoqMakefile
proof/CoqMakefile.conf
obj/*
exe/*

