CONFIGURE
src/*.o
test/*.o
proof/*/*.vo
proof/*/*.vok
proof/*/*.vos
proof/*/*.glob
proof/*/.*.aux
proof/*/.*.cache
proof/.CoqMakefile.d
proof/CoqMakefile
proof/CoqMakefile.conf
docs/index_files/*/*
docs/index.html
docs/index.pdf
obj/*
exe/*

